* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.title {
    color: white;
}

.title.page {
    text-align: center;
    background-color: #2D3319;
    font-size: 48px;
    padding: 36px;
}

.title.section {
    background-color: #66663D;
    font-size: 36px;
    padding: 12px;
}

.recipe-list a{
    text-decoration: none;
    color: black;
    display: block;
}

.recipe-list li{
    padding: 16px;
    background-color: #ABAB73;
}

.recipe-list li:hover{
    background-color: #8C8C54;
}

.recipe-list{
    list-style-type: none;
}

img {
    width: 500;
    height: auto;
}

.home a{
    text-decoration: none;
    background-color: rgb(55, 0, 255);
    color: white;
    font-size: 30px;
}

.thumbnail{
    width: 100%;
    height: auto;
}


.recipe-list-container{
    width: 40%;
    margin: -8px auto 0;
}